[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
mlflow = "*"
pandas = "*"
boto3 = "*"
pyarrow = "*"
s3fs = "*"
pydantic = "==1.10.11"
prefect = "==2.12.1"

[dev-packages]

[requires]
python_version = "3.9"
